*{
	padding: 0;
	margin: 0;
}

/* ======== Preloader ========== */
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader.gif) center no-repeat #fff;
}

/* =================== Fonts ===================== */
@font-face{
	font-family: font_1;
	src: url(../fonts/abel-regular.ttf);
}
@font-face{
	font-family: font_2;
	src: url(../fonts/GothamBold.ttf);
}
@font-face{
	font-family: font_3;
	src: url(../fonts/GothamBook.ttf);
}
@font-face{
	font-family: font_4;
	src: url(../fonts/GothamMedium.ttf);
}
@font-face{
	font-family: font_5;
	src: url(../fonts/PestaStencilBoldDemo.otf);
}
@font-face{
	font-family: font_6;
	src: url(../fonts/johnnyFever.ttf);
}
@font-face{
	font-family: font_7;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: font_8;
	src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
	font-family: font_9;
	src: url(../fonts/Roboto-Bold.ttf);
}
@font-face{
	font-family: font_10;
	src: url(../fonts/Antonio-Regular.ttf);
}
@font-face{
	font-family: font_11;
	src: url(../fonts/Antonio-Bold.ttf);
}
/* ================== Common styles ===================== */
.bg-color-dark{
	background-image: linear-gradient(45deg, #3a0069 0%, #690017 100%);
	opacity: 0.8;
}
/*    #edce18 --> Yellow color    */

/* ================== Navbar styles ===================== */
header{
	width: 100%;
	height: 100vh;
	background: url(../images/1.jpg);
	background-size: cover;
}
.bg-color{
	height: 100vh;
	background: rgba(255, 235, 186, 0.8);
}

.navbar{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255,1), rgba(255, 255, 255,0));
	opacity: 1;
	position: fixed;
	z-index: 9999;
	width: 100%;
	transition: 0.4s;
}
#admin-navbar{
	position: relative;
	z-index: 0;
}
#admin-title{
	margin-top: 10px;
	padding-left: 15px;
	font-size: 2.5em;
	font-family: font_8;
	color: #9e9e9e;
	border-left: 8px solid #2BBBAD;
}
.navbar-toggler{
	position: relative;
	z-index: 9999;
}
.navbar-brand{
	width: auto;
}
.navbar-brand img{
	width: 17%;
	transition: 0.4s;
}
.navbar-collapse ul li{
	padding: 8px;
	font-family: font_10;
	font-size: 18px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.navbar-collapse ul li a{
	color: #000;
	transition: 0.2s;
}
.navbar-collapse ul li a:hover{
	color: #910618;
}
/*navbar scrolling effects*/
.navbar-scroll{
	background: rgba(255,255,255,0.95);
	opacity: 1;
	box-shadow: 1px 1px 8px 8px rgba(79, 79, 79, 0.5);
	width: 100%;
	height: 80px;
}
.navbar-img-scroll img{
	width: 13%;
}
.header-content{
	width: 100%;
	height: 80vh;
	transform: translate(0,50%);
}
.header-title{
	text-align: center;
	font-family: font_6;
	font-size: 5.5em;
	color: #910618;
	text-shadow: 1px 1px 3px #ccc;
	text-transform: uppercase;
}
.address-div{
	text-align: center;
}
.address-div .place{
	font-family: font_4;
	font-size:2em;
	color: #c21e56;
	text-shadow: 1px 1px 3px #ccc;
}
.address-div .date{
	font-family: font_1;
	font-size:1.8em;
	color: #111;
	text-shadow: 1px 1px 3px #ccc;
}

/* ================ Countdown section ================== */
#countdown-sec{
	display: flex;
	background: #1c1c1c;
	/*background: rgb(237, 206, 24);*/
	padding: 40px 70px;
}
.countdown-title{
	width: 50%;
	color: #eee;
	font-size: 1.5em;
	font-family: font_9;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
}
.countdown-title span{
	font-family: font_7;
	font-weight: normal;
	font-size: 23px;
	color: #ffdd00;
}

#countdown-sec .countdown-col{
	width: 50%;
	margin: 10px auto 0;
	display: flex;
}
.counter-day, .counter-hour, .counter-minute, .counter-second{
	text-align: center;
	width: 25%;
	margin: 0 auto;
}
.counter-day{
	color: #b9ce33;
}
.counter-hour{
	color: #e50be5;
}
.counter-minute{
	color: #e5950b;
}
.counter-second{
	color: #42adf4;
}
.days, .hours, .minutes, .seconds{
	text-align: center;
	font-family: font_9;
	font-size: 3.4em;
	font-weight: bolder;
	line-height: 60px;
}
.smalltext{
	font-size: 1.3em;
	font-family: font_7;
	margin-top: 0;
	padding-top: 0;
	line-height: 100%;
}

/* ================ Registration section ================ */
#reg-section{
	background-image: url(../images/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
#reg-section-content{
	padding: 80px 0;
}
.reg-sec-title{
	margin-bottom: 10px;
}
.reg-sec-title h1{
	font-family: font_6;
	color: #fff;
}
.card{
	border-radius: 20px;
	border: 4px solid #fff;
}
.card-body{
	padding: 0 40px 50px;
	z-index: 1;
}
.card img{
	width: 50%;
	margin: 40px auto 0;
	z-index: 1;
}
.card .card-title{
	font-family: font_2;
	font-size: 2em;
}
.card .card-text{
	font-family: font_7;
}
.side-cards{
	margin: 100px 0;
	color: #fff;
	background: transparent;
	transition: 0.7s;
	overflow: hidden;
}
.center-card{
	margin: 100px 0;
	color: #fff;
	background: transparent;
	transition: 0.7s;
	overflow: hidden;
}
.center-card img{
	width: 43.5%;
	margin-bottom: 25px;
}
.back-div-left{
	position: absolute;
	background: #edce18;
	width: 0%;
	height: 500px;
	z-index: 0;
	opacity: 0.5;
	transition: width 0.7s;
}
.side-cards:hover .back-div-left{
	width: 100%;
}
.back-div-right{
	position: absolute;
	background: #edce18;
	width: 100%;
	height: 500px;
	left: 100%;
	z-index: 0;
	opacity: 0.5;
	transition: left 0.7s;
}
.side-cards:hover .back-div-right{
	left: 0%;
}
.back-div-center{
	position: absolute;
	background: #edce18;
	width: 100%;
	height: 0px;
	z-index: 0;
	opacity: 0.5;
	transition: height 0.7s;
}
.center-card:hover .back-div-center{
	height: 687px;
}
.center-card:hover, .side-cards:hover{
	color: yellow;
}

/* ==================== Call for papers ================== */
#call-for-paper-sec{
	padding: 80px 0 100px 0;
	background: #f3f3f3;
}
.call-for-paper-title{
	margin-bottom: 70px;
}
.call-for-paper-title h1{
	font-family: font_6;
	color: #000;
}
.call-for-paper-title p{
	font-family: font_1;
	font-size: 20px;
	color: #666;
}
.call-for-paper-subdivs{
	padding: 20px 0;
	box-shadow: 1px 1px 8px 8px #eee;
	border:0;
	transition: 0.5s;
}
.call-for-paper-subdivs:hover{
	background: rgba(107, 0, 255,0.8);
	color: #fff;
}
.call-for-paper-subdivs:hover p{
	color: #ddd;
}
.call-for-paper-subdivs h4{
	font-family: font_11;
}
.call-for-paper-subdivs p{
	color: #777;
	transition: 0.5s;
}
.section-btn-area a{
	font-family: font_10;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 40px;
	margin: 0 5px;
  background: linear-gradient(45deg, #c21e56 50%, #910618 50%);
	box-shadow: 1px 1px 5px 5px #ddd;
	position: relative;
}
.section-btn-area a:after{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: linear-gradient(45deg, #c21e56 50%, #910618 50%);
	z-index: -1;
}
.section-btn-area a, .section-btn-area a:after{
	margin: 10px;
	background-size: 300%;
	background-position: 67%;
	transition: 0.8s;
}
.section-btn-area #section-btn1, .section-btn-area #section-btn1:after{
	background-position: 68%;
}
.section-btn-area a:hover, .section-btn-area a:hover:after{
	background-position: 0%;
	text-decoration: none;
}
.section-btn-area #section-btn1:hover, .section-btn-area #section-btn1:hover:after{
	background-position: 0%;
	text-decoration: none;
}

/*======================== Programme committee ========================== */
#program-com-sec{
	background-image: url(../images/4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.program-com-content{
	padding: 80px 0;
	color: #fff;
}
.program-com-title{
	margin-bottom: 70px;
}
.program-com-title h1{
	font-family: font_6;
	color: #fff;
}
.committee-people-div{
	margin-bottom: 30px;
}
.committee-people-div h3{
	font-family: font_9;
}
.committee-people-div ul{
	margin: 15px 0 0 40px;
	list-style-image: url(../images/bullet.png);
}
.committee-people-div ul li b{
	font-family: sans-serif;
}
.committee-people-div ul li{
	font-family: font_7;
	margin: 3px 0;
}
.person-title{
	width: 50%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#person-title1{
	border-right: 1px solid #555;
}
#person-title2{
	border-left: 1px solid #555;
}
.person-main-title{
	color: #eee;
	font-size: 1.8em;
	font-family: font_9;
	font-weight: bolder;
}
.person-sub-title{
	font-size: 1.2em;
	color: #999;
	font-family: font_7;
	margin-bottom: 15px;
}
.person-title span{
	font-family: font_7;
	font-weight: normal;
	font-size: 17px;
	color: #ffdd00;
}

/* ========================= Gallery ======================= */
#gallery-sec{
	padding: 80px 0 100px 0;
	background: #f3f3f3;
}
.gallery-title{
	margin-bottom: 70px;
}
.gallery-title h1{
	font-family: font_6;
	color: #000;
}
.main-box{
	width: 33%;
	height: auto;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.img-box{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.img-box img{
	position: relative;
	width: 100%;
	transition: 0.4s;
}
.main-box:hover .img-box img{
	transform: scale(1.15);
}

/* ====================================================
------------------- login page -------------------
===================================================== */
#login-header{
	width: 100%;
	height: 55vh;
	background-image: url(../images/3.jpg);
	background-size: cover;
	background-position: center;
}
.login-header-title{
	width: 50%;
	height: 50vh;
	transform: translate(20%, 50%);
}
.login-header-title h1{
	font-family: font_6;
	font-size: 3.5em;
	color: #910618;
	text-shadow: 1px 1px 10px #ccc;
}
.login-header-title small{
	font-size: 1.4em;
	font-family: font_10;
	color: #c21e56;
	text-shadow: 1px 1px 3px #ccc;
}
#login-form-sec{
	padding: 100px 0;
	background: #f3f3f3;
}
.form-container{
	width: 40%;
	margin: 0 auto;
}
.form-content{
	border-radius: 10px;
	padding: 40px;
	background: #fff;
	box-shadow: 1px 1px 7px 7px #e7e7e7;
}
.form-content form input{
	padding: 10px 15px;
	font-family: font_7;
	font-size: 15px;
	color: #555;
	border: 2px solid #ccc;
	transition: 0.3s;
}
.form-content form input:focus, .form-content form textarea:focus{
	border-left: 2px solid #910618;
	border-top: 2px solid #c21e56;
	border-right: 2px solid #c21e56;
	border-bottom: 2px solid #910618;
	box-shadow: 1px 1px 4px 4px #e9e9e9;
}
.form-content form input[type=text], .form-content form input[type=password]{
	width: 100%;
	margin-bottom: 20px;
}
.submit-btn-div{
	text-align: center;
}
.form-content form input[type=submit]{
	border: 0;
	color: #fff;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	font-family: font_10;
	padding: 15px 40px;
  background: linear-gradient(45deg, #c21e56 50%, #910618 50%);
	box-shadow: 1px 1px 7px 7px #eee;
	position: relative;
}
.form-content form input[type=submit]:after{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: linear-gradient(45deg, #c21e56 50%, #910618 50%);
	z-index: -1;
}
.form-content form input[type=submit], .form-content form input[type=submit]:after{
	background-size: 300%;
	background-position: 67%;
	transition: 0.8s;
}
.form-content form input[type=submit]:hover, .form-content form input[type=submit]:hover:after{
	background-position: 0%;
	text-decoration: none;
	box-shadow: 1px 1px 7px 7px #e9e9e9;
	cursor: pointer;
}

/* ====================================================
------------------- Registration page -------------------
===================================================== */
#reg-header{
	width: 100%;
	height: 55vh;
	background-image: url(../images/2.jpg);
	background-size: cover;
	background-position: center;
}
.reg-header-title{
	width: 50%;
	height: 50vh;
	transform: translate(20%, 50%);
}
.reg-header-title h1{
	font-family: font_6;
	font-size: 3.5em;
	color: #910618;
	text-shadow: 1px 1px 3px #ccc;
}
.reg-header-title small{
	font-size: 1.4em;
	font-family: font_10;
	color: #c21e56;
	text-shadow: 1px 1px 3px #ccc;
}
#reg-form-sec{
	padding: 100px 0;
	background: #f3f3f3;
}
.reg-form-container{
	width: 80%;
	margin: 0 auto;
}
.reg-form-content{
	border-radius: 10px;
	padding: 40px;
	background: #fff;
	box-shadow: 1px 1px 7px 7px #e7e7e7;
}
.reg-form-content form label{
	font-family: font_10;
	font-size: 20px;
	text-transform: uppercase;
}
.reg-form-content form .sub-label{
	font-family: font_1;
	font-size: 17px;
	text-transform: none;
}
.reg-form-content form label span{
	font-family: font_1;
	font-size: 18px;
	text-transform: none;
}
.reg-form-content form input{
	padding: 10px 15px;
	font-family: font_7;
	font-size: 15px;
	color: #555;
	border: 2px solid #ccc;
	transition: 0.3s;
}
.reg-form-content form input:focus, .reg-form-content form select:focus{
	border-left: 2px solid #910618;
	border-top: 2px solid #c21e56;
	border-right: 2px solid #c21e56;
	border-bottom: 2px solid #910618;
	box-shadow: 1px 1px 4px 4px #e9e9e9;
}
.reg-form-content form input[type=text], .reg-form-content form input[type=email], .reg-form-content form input[type=file]{
	width: 100%;
	margin-bottom: 20px;
}
.reg-form-content form select{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 20px;
	font-family: font_7;
	font-size: 15px;
	color: #888;
	border: 2px solid #ccc;
	transition: 0.3s;
}
.reg-form-content form #lunch, .reg-form-content form #dinner, .reg-form-content form #tour{
	width: 100%;
}
.reg-form-content form select option{
	font-size: 13px;
	color: #555;
}
.submit-btn-div{
	text-align: center;
}
.reg-form-content form input[type=submit]{
	border: 0;
	color: #fff;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	font-family: font_10;
	padding: 15px 40px;
  background: linear-gradient(45deg, #c21e56 50%, #910618 50%);
	box-shadow: 1px 1px 7px 7px #eee;
	position: relative;
}
.reg-form-content form input[type=submit]:after{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: linear-gradient(45deg, #c21e56 50%, #910618 50%);
	z-index: -1;
}
.reg-form-content form input[type=submit], .reg-form-content form input[type=submit]:after{
	background-size: 300%;
	background-position: 65.5%;
	transition: 0.8s;
}
.reg-form-content form input[type=submit]:hover, .reg-form-content form input[type=submit]:hover:after{
	background-position: 0%;
	text-decoration: none;
	box-shadow: 1px 1px 7px 7px #e9e9e9;
	cursor: pointer;
}
.require-mark-topic-div{
	text-align: right;
	color: #888;
	font-family: font_7;
	font-size: 14px;
	display: flex;
	float: right;
}
.require-mark, .require-mark-1, .require-mark-2{
	position: absolute;
	background: linear-gradient(45deg, transparent 50%, red 50%);
	width: 16px;
	height: 16px;
	/*border-radius: 50%;*/
	z-index: 1;
	opacity: 0.9;
}
.require-mark-title{
	background: red;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	z-index: 1;
	opacity: 0.9;
	margin: 2px 5px 0 0;
}
.require-mark-title{
	right: 35.5%;
}
.require-mark{
	top: 0px;
	right: 15px;
}
.require-mark-1{
	top: 0px;
	right: 15px;
}
.require-mark-2{
	top: 33px;
	right: 15px;
}

/* ====================== Admin page styles ======================== */
.admin-top{
	width: 95%;
	margin: 10px auto;
	display: flex;
}
.admin-top .admin-title-div{
	width: 50%;
}
.admin-top .admin-logout-div{
	width: 50%;
	margin: auto 0;
	text-align: right;
}
#admin-logout-btn{
	background: #ed1818;
	color: #fff;
	font-family: font_10;
	font-size: 18px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 7px 20px;
	transition: 0.4s;
}
#admin-logout-btn:hover{
	background: #cf1515;
	text-decoration: none;
}
.filter-div{
	width: 95%;
	margin: 20px auto;
}
#filter-form select{
	padding: 5px;
	width: 100%;
}
.col-md-7, .col-md-5, .col-md-4, .col-md-1{
	padding-right: 0;
}
#filter-form #filter-btn{
	margin: 0;
	padding: 5px 15px;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: 0;
	background: #00C851;
}
#admin-section{
	padding: 0;
}
.admin-container{
	width: 95%;
	margin: 0 auto;
}
.admin-container table{
	width: 100%;
}
table thead{
	text-align: center;
}
table th, table tbody td{
	font-size: 13px;
	font-weight: normal;
	font-family: font_7;
}
table tbody .button-td{
	text-align: center;
}
#bank_rec_form button, #std_ship_form button{
	font-size: 12px;
	font-family: font_7;
}
.download-btns-div{
	width: 95%;
	margin: 25px auto;
}
.download-btns-div button{
	padding: 5px 17px;
}

/* ===================== Footer ====================== */
#footer-sec{
	background: rgb(28,28,28);
	background-image: url(../images/pattern.png);
	background-size: cover;
}
.footer-content{
	padding: 80px 100px 0px;
}
.footer-logo-img iframe{
	width: 95%;
	height: 60%;
}
.footer-sub-content h4{
	font-family: font_11;
}
.footer-divider{
	border-top: 4px solid #4999f5;
	width: 13%;
	margin-bottom: 30px;
}
.footer-event-date{
	color: rgb(237, 206, 24);
	font-family: font_8;
}
.footer-event-address, .footer-event-address a{
	font-family: font_7;
	color: #ddd;
	transition: 0.2s;
}
.footer-event-address a:hover{
	text-decoration: none;
	color: rgb(237, 206, 24);
}
.footer-social-links{
	display: inline-flex;
}
.footer-social-links a{
	margin: 0 5px;
}
.footer-social-links .social-link{
	width: 45px;
	height: 45px;
	color: #777;
	text-align: center;
	background: #ccc;
	/*background: rgb(237, 206, 24);*/
	line-height: 45px;
	border-radius: 50%;
	transition: 0.3s;
}
.footer-social-links .social-link:hover{
	color: #910618;
	background: rgb(237, 206, 24);
}
.footer-bottom-divider{
	width: 90%;
	margin: 0 auto 25px;
	border-top: 1px solid #777;
}
.footer-lower-text{
	padding-bottom: 25px;
	font-family: font_1;
	font-size: 15px;
	text-transform: uppercase;
}
.footer-lower-text a{
	color: #edce18;
	transition: 0.05s;
}
.footer-lower-text a:hover{
	text-decoration: none;
	border-top: 2px solid #edce18;
	border-bottom: 2px solid #edce18;
}

@media (max-width: 375px) {
	.header-title{
		text-align: center;
		font-family: font_6;
		font-size: 3.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
		text-transform: uppercase;
	}

	#countdown-sec{
		display: flex;
		font-size: 0.5em;
		background: #1c1c1c;
		/*background: rgb(237, 206, 24);*/
		padding: 40px 100px 40px 20px;
	}

	#countdown-sec div{
		margin-right: 5px;
	}

	.countdown div{
		margin-left: 10px;
	}

	.img-icon{
		position: absolute;
		background: rgba(107, 0, 255, 0.8);
		width: 27.5%;
		opacity: 0;
		/*transform: scale(0);*/
		transition: 0.4s;
	}

	.reg-header-title h1{
		font-family: font_6;
		font-size: 2em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
	}

	.reg-header-title small{
		font-size: 1em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.login-header-title h1{
		font-family: font_6;
		font-size: 2em;
		color: #910618;
		text-shadow: 1px 1px 10px #ccc;
	}
	
	.login-header-title small{
		font-size: 1em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.form-container{
		width: 80%;
		margin: 0 auto;
	}

@media (max-width: 576px) {
	.header-title{
		text-align: center;
		font-family: font_6;
		font-size: 3.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
		text-transform: uppercase;
	}

	#countdown-sec{
		display: flex;
		font-size: 0.8em;
		background: #1c1c1c;
		/*background: rgb(237, 206, 24);*/
		padding: 40px 70px;
	}

	#countdown-sec div{
		margin-right: 5px;
	}

	.countdown div{
		margin-left: 10px;
	}

	.reg-header-title h1{
		font-family: font_6;
		font-size: 2em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
	}

	.reg-header-title small{
		font-size: 1em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.login-header-title h1{
		font-family: font_6;
		font-size: 2.5em;
		color: #910618;
		text-shadow: 1px 1px 10px #ccc;
	}
	
	.login-header-title small{
		font-size: 1em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.form-container{
		width: 60%;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.header-title{
		text-align: center;
		font-family: font_6;
		font-size: 5.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
		text-transform: uppercase;
	}

	#countdown-sec{
		display: flex;
		font-size: 1em;
		background: #1c1c1c;
		/*background: rgb(237, 206, 24);*/
		padding: 40px 70px;
	}

	#countdown-sec div{
		margin-right: 5px;
	}

	.countdown div{
		margin-left: 10px;
	}

	.reg-header-title h1{
		font-family: font_6;
		font-size: 3.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
	}

	.reg-header-title small{
		font-size: 1.4em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.login-header-title h1{
		font-family: font_6;
		font-size: 3.5em;
		color: #910618;
		text-shadow: 1px 1px 10px #ccc;
	}
	
	.login-header-title small{
		font-size: 1.4em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.form-container{
		width: 60%;
		margin: 0 auto;
	}
  
  .navbar-brand{
		width: 20%;
	}
	.navbar-brand img{
		width: 100%;
		position: relative;
		top: 0px;
		left: 10px;
	}
	.navbar-toggler{
  	display: block;
		position: absolute;
   	top: 0;
   	right: 25px;
   	margin-top: 20px;
   	background: #910618;
	}
	.navbar-toggler .navbar-toggler-icon{
   	color: #fff;
   	margin-top: 5px;
  }
  .navbar-collapse{
   	background: #910618;
   	padding: 5px 20px;
  }
    .navbar-collapse ul li a{
		color: #ddd;
		transition: 0.2s;
	}
	.navbar-collapse ul li a:hover{
		color: #fff;
	}

	/* ========================= Gallery ======================= */
	.main-box{
		width: 100%;
		height: auto;
		display: inline-flex;
	}
	.img-box{
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.img-box img{
		position: relative;
		width: 100%;
		transition: 0.4s;
	}
	.main-box:hover .img-box img{
		transform: scale(1.15);
  }
}

@media (max-width: 992px) {
	.header-title{
		text-align: center;
		font-family: font_6;
		font-size: 5.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
		text-transform: uppercase;
	}

	#countdown-sec{
		display: flex;
		font-size: 1em;
		background: #1c1c1c;
		/*background: rgb(237, 206, 24);*/
		padding: 40px 70px;
	}

	#countdown-sec div{
		margin-right: 5px;
	}

	.countdown div{
		margin-left: 10px;
	}
}

@media (min-width: 1200px) {
	.header-title{
		text-align: center;
		font-family: font_6;
		font-size: 5.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
		text-transform: uppercase;
	}

	#countdown-sec{
		display: flex;
		font-size: 1em;
		background: #1c1c1c;
		/*background: rgb(237, 206, 24);*/
		padding: 40px 70px;
	}

	#countdown-sec div{
		margin-right: 5px;
	}

	.countdown div{
		margin-left: 10px;
	}

	.reg-header-title h1{
		font-family: font_6;
		font-size: 4.5em;
		color: #910618;
		text-shadow: 1px 1px 3px #ccc;
	}

	.reg-header-title small{
		font-size: 1.4em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.login-header-title h1{
		font-family: font_6;
		font-size: 3.5em;
		color: #910618;
		text-shadow: 1px 1px 10px #ccc;
	}

	.login-header-title small{
		font-size: 1.4em;
		font-family: font_10;
		color: #c21e56;
		text-shadow: 1px 1px 3px #ccc;
	}

	.form-container{
		width: 40%;
		margin: 0 auto;
	}
}